@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-size: 18px;
    line-height: 1.2;
    color: #000000;
    font-family:'Lato';
    background-color: #fff;
}
.container{
  padding: 0 !important;
  width: 50%;
  margin-top: 10px;
}
.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 1px;
}
.logo {
  width: 200px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.title {
  font-family: 'Istok Web';
  font-size: 30px;
  /* display: flex;
  justify-content: center; */
  text-align: center;
  margin: auto;
  font-weight: 500;
  margin: 10px 0px;
}
.title-bold{
  font-size: 45px;
  text-align: center;
  display: flex;
  justify-content: center;
}
label{
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100%;
}
.spin{
  margin: auto;
  display: flex;
  justify-content: center;

}
.spin .wheel{
  width: 380px;
  height: 380px;
}
.arrow{
  width: 53px;
  height: 88px;
  position: absolute;
  top: 195px;
  z-index: 1;
}
.shadow1{
  height: 50px;
  position: absolute;
  /* opacity: 3.2; */
  width: 50px;
  top: 388px;
  left: 47.9%;
  /* margin: auto; */
  opacity: 0.95;
  box-shadow: none;
}
.btn-custom {
  background: #00004D;
  color: #fff !important;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  padding: 4px 35px;
  margin-bottom: 10px;
  font-size: 21px;
  white-space: nowrap;
  font-weight: 600;
}
#submit{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px !important;
}
.wheel{
  -webkit-transition: all 16s cubic-bezier(0,.99,.44,.99);
	-moz-transition:    all 16 cubic-bezier(0,.99,.44,.99);
	-o-transition:      all 16s cubic-bezier(0,.99,.44,.99);
	-ms-transition:     all 16s cubic-bezier(0,.99,.44,.99);
	transition:         all 16s cubic-bezier(0,.99,.44,.99);
}
.footer1 img{
  width: 100%;
  bottom: 0;
  /* position: fixed; */
}
a{
  color: #fff;
}
.btn:hover{
  color: #fff;
}
.footer2 img{
  width: 100%;
  bottom: 0;
  /* position: fixed; */
}
.card1{
  margin: 0px 30px;
  padding: 30px 10px;
  background: #FFFFFF;
  box-shadow: 2px 3px 33px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  width: 85%;
}
.card1 img{
  width: auto;
  height: 75px;
  margin: auto;
}
.congrats{
  color: #6C6C6C;
  font-family: 'Inter';
  font-weight: bold;
  margin: 15px 0px;
  font-size: 20px;
}
.amount-content{
  color: #7D7D7D;
  font-family: 'Roboto';

}
.amount-content h6{
  font-size: 17px;
  font-weight: 500;
}
.amount-content p{
  font-size: 14px;
  font-weight: 500;
}

.signup-input input{
  color: #A0A0A0;
  background: #E8E8E8;
  width: 85%;
  height: 35px;
  margin: 4px 10px 5px 0px;
  border-radius: 20px;
  border: none;
  padding: 5px 25px;
}
#phone-error,#name-error{
  color: red;
  font-size: 14px;
  margin: -5px;
}
#spin-btn{
  width: 200px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: all ease 0.3s;
}
#spin-btn:disabled{
  opacity: 1;
}
#spin-btn:focus,#spin-btn:active,#spin-btn:hover{
  transform: scale(0.98);

  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
/* redirection page */
.download-btn{
  background-color: #47B6F2;
  color: #fff;
  border-radius: 5px;
  padding: 8px 35px;
  font-weight: bold;
  font-size: 18px;
}
.buddyloan-logo img{
  width: 190px;
  margin: 20px 0px;
}
/* end */
@media (max-width:767px) {
  .container{
      padding: 0 !important;
      width: 100%;
      margin-top: 0px;
  }
  .logo {
      width: 120px;
      display: flex;
      justify-content: center;
      margin: auto;
  }

  .title {
      font-size: 16px;
      padding-top: 6px;
      letter-spacing: 0.5px;
  }
  .title-bold{
      font-size: 27px;
      text-align: center;
      display: flex;
      justify-content: center;
  }
  .arrow {
    width: 30px;
    height: 58px;
    position: absolute;
    top: 145px;
}
.shadow1{
  height: 50px;
  position: relative;
  /* opacity: 3.2; */
  width: 50px;
  top: 97px;
  left: 0px;
  /* margin: auto; */
  opacity: 0.95;
}
.footer1 img{
  width: 100%;
  bottom: 0;
  position: fixed;
}
.footer2{
  width: 100%;
  bottom: 0;
  position: fixed;
}
.spin .wheel{
  width: 250px;
  height: 250px;
  position: absolute;
}
#spin-btn{
  margin-top: 240px;
  margin-bottom: 10px;
  position: relative;
}
.box-1{
  display: flex;
  margin:auto;
  align-items:center;
  justify-content:center;
  margin-top: 60px;
}
.card1 img{
  width: auto;
  height: 75px;
  margin: auto;
}
}
@media(max-width:375px){
  .box-1{
    display: flex;
    margin:auto;
    align-items:center;
    justify-content:center;
    margin-top: 30px;
  }
  #submit{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 18px !important;
  }
  .card1{
    margin: 0px 30px;
    padding: 10px 10px;
    background: #FFFFFF;
    box-shadow: 2px 3px 33px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    width: 85%;
  }
  .card1 img{
    width: auto;
    height: 65px;
    margin: auto;
  }
}
